
#jobPostingsList li:hover {
  background-color: #f0f0f0; /* マウスオーバー時の背景色 */
  color: #333; /* マウスオーバー時のテキスト色 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
}

#jobPostingsList {
  list-style: none; /* リストマーカーを非表示 */
  padding: 0; /* デフォルトのパディングを削除 */
}

#jobPostingsList li {
  display: flex; /* Flexboxの使用 */
  justify-content: space-between; /* 子要素を両端に配置 */
  align-items: center; /* 垂直方向の中心揃え */
  padding: 10px; /* パディングを追加 */
  background-color: #f8f8f8; /* 背景色を設定 */
  border-bottom: 1px solid #ddd; /* 下部に境界線を追加 */
}

#jobPostingsList li button {
  border: none;
  background: none;
  cursor: pointer; /* カーソルをポインターに */
  color: red;
  font-size: 16px;
}

#jobPostingsList li button:hover {
  background-color: #e5533d; /* ホバー時の背景色変更 */
}




.header {
  display: flex;
  justify-content: space-between; /* 子要素を両端に配置 */
  align-items: center; /* 中央揃え（垂直方向） */
  padding: 8px;
  background-color: #f7f7f7; /* 背景色 */
  border-bottom: 1px solid #ddd; /* 下部に薄い境界線 */
}

#companyName {
  font-size: 16px; /* フォントサイズの指定 */
  color: #333; /* フォントカラー */
}

#buttonContainer {
  text-align: right; /* ボタンを右寄せ */
}

#buttonContainer > button, #jobPostingsList > button {
  padding: 8px 12px;
  font-size: 8px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#actionButton {
  background-color: #007BFF; /* ボタンの背景色 */
}

#signOutButton {
  background-color: #ff5858;
}

#actionButton:hover {
  background-color: #0056b3; /* ホバー時の背景色変更 */
}

.text_content {
  display: block;
}

.text_content h4,.text_content h6, .text_content p {
  margin: 0;
  margin-bottom: 4px;
}


/* ローディングアニメーション */
#loading {
  position: fixed;   /* 画面に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* 半透明の白背景 */
  z-index: 99999;   /* 他の要素より上に表示 */
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  text-align: center;
}

#loading_box {
  display: block;
}

#loading .kvArea {
  width: auto;
}

#loading .kvArea .img_box {
  display: inline-block;
  text-align: center;
}

#loading .kvArea .img_box img {
  width: auto; /* オリジナルの画像サイズを保持 */
  height: auto;
}


.toggleButton {
  position: relative;
  width: 32px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}

.toggleButton:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}

.toggleButton.on {
  background-color: #66bb6a;
}

.toggleButton.on:before {
  left: 12px;
  top: 0px;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 1.2em;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
