
#jobPostingsList li:hover {
  background-color: #f0f0f0; /* マウスオーバー時の背景色 */
  color: #333; /* マウスオーバー時のテキスト色 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
}

#jobPostingsList {
  list-style: none; /* リストマーカーを非表示 */
  padding: 0; /* デフォルトのパディングを削除 */
}

#jobPostingsList li {
  display: flex; /* Flexboxの使用 */
  justify-content: space-between; /* 子要素を両端に配置 */
  align-items: center; /* 垂直方向の中心揃え */
  padding: 10px; /* パディングを追加 */
  background-color: #f8f8f8; /* 背景色を設定 */
  border-bottom: 1px solid #ddd; /* 下部に境界線を追加 */
}

#jobPostingsList li button {
  padding: 5px 10px; /* ボタンのパディング */
  background-color: #ff6347; /* ボタンの背景色 */
  color: white; /* テキスト色 */
  border: none; /* 枠線なし */
  border-radius: 5px; /* 角を丸く */
  cursor: pointer; /* カーソルをポインターに */
}

#jobPostingsList li button:hover {
  background-color: #e5533d; /* ホバー時の背景色変更 */
}


.header {
  display: flex;
  justify-content: space-between; /* 子要素を両端に配置 */
  align-items: center; /* 中央揃え（垂直方向） */
  padding: 10px 20px; /* 上下10px、左右20pxのパディング */
  background-color: #f7f7f7; /* 背景色 */
  border-bottom: 1px solid #ddd; /* 下部に薄い境界線 */
}

#companyName {
  font-size: 20px; /* フォントサイズの指定 */
  color: #333; /* フォントカラー */
}

#actionButton {
  padding: 8px 16px; /* ボタン内のパディング */
  background-color: #007BFF; /* ボタンの背景色 */
  color: white; /* ボタンのテキストカラー */
  border: none; /* ボーダーの削除 */
  border-radius: 5px; /* 角を丸くする */
  cursor: pointer; /* ホバー時のカーソル変更 */
}

#actionButton:hover {
  background-color: #0056b3; /* ホバー時の背景色変更 */
}
