<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>求人登録ページ</title>
  <link rel="stylesheet" href="./css/job_registration_page.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./js/firebase_config.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5740691913931441"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
  <div id="loading">
    <div class="kvArea" id="loading_box">
      <div class="img_box"><img src="Spinner-3.gif" alt="" class="fadeUp"></div>
    </div>
  </div>
  <main>
    <div class="header">
      <button onclick="window.location.href='job_list_page.html';">←遷移先ページへ</button>
    </div>
    <section>
      <h1>求人登録ページ</h1>
      <p>*は必須です</p>
    </section>
    <section>
      <h3>*会社名</h3>
      <text-field :input-class="company" v-model="company"></text-field>
    </section>
    <section>
      <h3>*ご連絡できるメールアドレス</h3>
      <input type="email" class="email" name="email" v-model="email" placeholder="rizoto_baito@example.com">
    </section>
    <section>
      <h3>*施設名</h3>
      <text-field :input-class="name" v-model="name"></text-field>
    </section>
    <section>
      <h3>*タイトル<span class="small_word">求職者を惹きつけるタイトル</span></h3>
      <text-area-component input-class="title" v-model="title"></text-area-component>
    </section>
    <section>
      <h3>都道府県</h3>
      <area-component @update-region="handleRegionUpdate"></area-component>
    </section>
    <section>
      <h3>*都道府県以降の住所</h3>
      <text-field :input-class="region_detail" v-model="region_detail"></text-field>
    </section>
    <section>
      <h3>地域名</h3>
      <text-field :input-class="region" v-model="region"></text-field>
    </section>
    <section>
      <h3>業種</h3>
      <occupation-component @update-occupation="handleOccupationUpdate"></occupation-component>
    </section>
    <section>
      <h3>*お仕事内容</h3>
      <text-area-component input-class="job_description" v-model="job_description"></text-area-component>
    </section>
    <section>
      <h3>*期間</h3>
      <text-field :input-class="period" v-model="period"></text-field>
    </section>

    <section>
      <h3>おすすめポイント<span class="small_word">※最大５個まで</span></h3>
      <div class="input-group">
        <input type="text" id="list-item-input" placeholder="おすすめポイントを入力" />
        <button id="add-item-button">追加</button>
      </div>
      <ul id="list-container"></ul>
    </section>
    <section>
      <h3>*年齢層</h3>
      <div class="checkbox_parent">
        <checkbox-component v-for="(item, index) in agecheckbox" :key="index" :label="item.text" :value="item.checked"
          @change="item.checked = $event"></checkbox-component>
      </div>
    </section>
    <section>
      <h3>*男女比</h3>
      <radio-group group-class="sex_ratio" left-label="男性が多い" right-label="女性が多い" v-model="sexRatio"
        id="rating-system"></radio-group>

    </section>
    <section>
      <h3>*残業</h3>
      <radio-group group-class="overtime" left-label="少ない" right-label="多い" v-model="overtime" id="rating-system">
      </radio-group>
    </section>
    <section>
      <h3>*雰囲気</h3>
      <radio-group group-class="atmosphere" left-label="落ち着いている" right-label="にぎやか" v-model="atmosphere"
        id="rating-system">
      </radio-group>
    </section>
    <section>
      <div class="salary-input">
        <h3>*給与</h3>
        <sarary-component @update-salary_type="handleSalaryTypeUpdate"></sarary-component>
        <input type="number" class="wage" name="wage" v-model="wage" placeholder="金額を入力">円
      </div>
    </section>
    <section>
      <h3>月収予想</h3>
      <div style="display: flex;">
      <text-field :input-class="income" v-model="income"></text-field>円
      </div>
    </section>
    <section>
      <h3>勤務時間</h3>
      <text-area-component input-class="working_hours" v-model="working_hours"></text-area-component>
    </section>
    <section>
      <h3>応募条件</h3>
      <text-field :input-class="condition" v-model="condition"></text-field>
    </section>
    <section>
      <h3>雇用形態</h3>
      <employment-component @update-employment="handleEmploymentUpdate"></employment-component>
    </section>
    <section>
      <h3>食事条件</h3>
      <text-area-component input-class="dietary_conditions" v-model="dietary_conditions"></text-area-component>
    </section>
    <section>
      <h3>交通費<span class="small_word">※数字のみ入力</span></h3>
      <label>
        <input type="number" class="transportation_expenses" oninput="validateNumber(this);">円
      </label>
    </section>
    <section>
      <h3>休日<span class="small_word">※数字のみ入力</span></h3>
      <label>月に
        <input type="number" class="holiday-start" oninput="validateNumber(this);">
        〜
        <input type="number" class="holiday-end" oninput="validateNumber(this);">日
      </label>
    </section>
    <section>
      <h3>仕事で必要なもの</h3>
      <text-field :input-class="necessary_work" v-model="necessary_work"></text-field>
    </section>
    <section>
      <h3>日常生活で必要なもの</h3>
      <text-field :input-class="necessary_life" v-model="necessary_life"></text-field>

    </section>
    <section>
      <h3>制服</h3>
      <clothing-component @update-clothing="handleClothingUpdate"></clothing-component>
    </section>
    <section>
      <h3>車の持ち込み</h3>
      <car-component @update-car="handleCarUpdate"></car-component>
    </section>
    <section>
      <h3>福利厚生</h3>
      <text-area-component input-class="welfare" v-model="welfare"></text-area-component>
    </section>
    <section>
      <h3>寮タイプ</h3>
      <dormitory-component @update-dormitory="handleDormitoryUpdate"></dormitory-component>
    </section>
    <section>
      <h3>寮費</h3>
      <text-field :input-class="domitory_fee" v-model="domitory_fee"></text-field>
    </section>
    <section>
      <h3>通勤時間</h3>
      <text-field :input-class="commuting_time" v-model="commuting_time"></text-field>
    </section>
    <section>
      <h3>Wi-Fi</h3>
      <network-component @update-network="handleNetworkUpdate"></network-component>
    </section>
    <section>
      <h3>部屋内設備</h3>
      <div class="checkbox_parent">
        <checkbox-component v-for="(item, index) in insideRoom" :key="index" :label="item.text" :value="item.checked"
          @change="item.checked = $event"></checkbox-component>
      </div>
    </section>
    <section>
      <h3>部屋外設備</h3>
      <div class="checkbox_parent">
        <checkbox-component v-for="(item, index) in outsideRoom" :key="index" :label="item.text" :value="item.checked"
          @change="item.checked = $event"></checkbox-component>
      </div>
    </section>
    <section>
      <h3>周辺環境</h3>
      <div class="checkbox_parent">
        <checkbox-component v-for="(item, index) in surroundingEnvironment" :key="index" :label="item.text"
          :value="item.checked" @change="item.checked = $event"></checkbox-component>
      </div>
    </section>
    <section>
      <h3>周辺環境</h3>
      <text-area-component input-class="surrounding_environment"
        v-model="surrounding_environment"></text-area-component>
    </section>
    <section>
      <h3>交通手段</h3>
      <text-area-component input-class="transportation" v-model="transportation"></text-area-component>
    </section>
    <section>
      <h3>*写真登録<span class="small_word">※最大5枚</span></h3>
      <div id="image-upload-container">
        <div id="preview-container"></div>
        <input type="file" id="image-input" multiple accept="image/*" />
      </div>
    </section>
    <section>
      <h3>*寮の写真登録<span class="small_word">※最大5枚</span></h3>
      <div id="image-upload-container2">
        <div id="preview-container2"></div>
        <input type="file" id="image-input2" multiple accept="image/*" />
      </div>
    </section>
    <div class="error"></div>
    <form @submit.prevent="submitForm">
      <button type="submit" class="submit-button">送信</button>
    </form>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="./js/job_registration_page.js"></script>
</body>

</html>